/*Content*/
.maxwidth {
  max-width: 1200px;
  margin: auto;
}

/*Basic Typography*/
.extrabold {
  font-weight: 800;
}
.link-tasty {
  color: #18C1EE;
}

@media screen and (min-width: 40rem) {
  .recipe--title  {
    font-size: 36px;
    line-height: 1;
    }
  }
  @media screen and (min-width: 52rem) {
  .recipe--title  {
    font-size: 56px;
    line-height: 1;
    }
  }


/*Buttons: FPO – THESE ARE OBVI WRONG*/
.button--round {
  border-radius: 50% !important;
}
.button--round svg {
  margin-right: 0 !important;
}
.button--email {
  background-color: #0dccb0 !important;
}
.button--link {
  background-color: #6645DD !important;
}
.button--print {
  background-color: #6645dd !important;
}
.button--tasty {
  background-color: #18C1EE !important;
}

/*Ingredients*/
.ingredients--list p {
  margin-top: 0;
  margin-bottom: .5em;
}

/*Prep steps*/
.preparation--steps {
  margin: 0;
  margin-left: 2rem;
  padding: 0;
  list-style: none;
  line-height: 1.4;
}
.preparation--steps ol {
  margin-left: 0;
}
.preparation--steps li {
  counter-increment: step-counter;
  margin-bottom: 1rem;
}
.preparation--steps li::before {
  display: inline-block;
  position: absolute;
  content: counter(step-counter);
  margin-right: 1rem;
  color: #f43192;
  font-weight: 800;
  margin-left: -2rem;
}

/*Related*/
.related--item img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.related--item:hover img {
  opacity: .5;
}
.related--item:hover p {
  color: #18C1EE;
}
