
/*@media screen and (min-width: 40rem) {
  .fill-hero {
    background: #10B1DC;
  }
}*/

.highlight {
  display: inline;
  background: #FFF100;
  padding: .5rem 0;
  box-shadow: 1rem 0 0 #FFF100, -1rem 0 0 #FFF100;
}

@media screen {
  .hero h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 40rem) {
  .hero h1 {
    font-size: 56px;
  }
}
@media screen and (min-width: 64rem) {
  .hero h1 {
    font-size: 64px;
  }
}

.hero-image {
  margin-left: auto;
}
