/*Content*/
.maxwidth {
  max-width: 1200px;
  margin: auto;
}

/*Nav*/
.fill-tasty {
  background-color: #18C1EE;
}
@media screen {
  .logo  {
    width: 96px;
    margin-bottom: -1.5rem;
    }
  }
  @media screen and (min-width: 64rem) {
  .logo  {
    width: 150px;
    margin-bottom: -2rem;
    }
  }

.logo {
  cursor: pointer;
}

/*Basic Typography*/
.extrabold {
  font-weight: 800;
}
.link-tasty {
  color: #18C1EE;
}


/* Customized grow from hover.css library */
.hvr-grow {
  display: inline-block;
  /*vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s ;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: cubic-bezier(.02,.47,.54,.94);
  transition-timing-function: cubic-bezier(.02,.47,.54,.94);
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*Tile hover zoom*/
.tile {
  cursor: pointer;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 4pt;
}
.tile img {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  display: block;
}
.tile:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.tile:hover p {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  color: #18C1EE;
}

.block-grid__item .image-wrapper {
  margin-bottom: 0.5rem;
}
