
// Font Face Styles
// -------------------------
// copy into your project and
// replace the font directory with your fonts
//


@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Regular-webfont.woff2") format("woff2"),
       url("ProximaNova-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Semibold-webfont.woff2") format("woff2"),
       url("ProximaNova-Semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caponi-Slab-Semibold";
  src: url("CaponiSlab-Semibold-Web.woff") format("woff2"),
       url("CaponiSlab-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
